/* Set box-sizing to border-box for all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Set grid layout for body element */
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  cursor: pointer;
}

/* Set max-width to 100% for all media elements */
img, picture, svg, video {
  display: block;
  max-width: 100%;
}

/* Assign grid areas to the different sections */

/* Style the header section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: 'Amatic SC', sans-serif;
  margin: auto;
  padding: .5em 1em;
  color: #fcf3f5;
  background-color: rgb(255, 255, 255);
}

/* Style the menu button */
button {
  width: max-content;
  border: none;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 0.9375em;
  color: rgb(5, 5, 5);
  cursor: pointer;
  font-size: 1.0625rem;
  transition: all 0.15s ease;
  transition: scale 0.15s;
}

/* Style the menu dropdown */
.menu {
  display: none;
  justify-self: flex-end;
  align-self: center;
  gap: 0.9375em;
  transition: scale 0.15s;
}

/* Style the menu button on hover */
button:hover {
  scale: 1.2;
}

/* Style the buttons in the header section */
.btns {
  display: flex;
  justify-self: flex-end;
  gap: 0.9375em;
}

/* Style the font awesome icons */
.fa-solid {
  font-size: 1.5625rem;
  color: rgb(30, 86, 158);
}

.fa-house-user {
  padding-bottom: 8px;
  color: rgb(0, 0, 0);
  padding-right: 0;
}

.fa-bars {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Style the menu icon on hover */
.fa-bars:hover {
  opacity: 0.7;
}

/* Style the logo text */
.logotext {
  font-size: 1.5rem;
  font-family: 'Source Sans Pro';
  font-weight: bolder;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Style the dropdown menu */
.dropdownmenu {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 0.625em;
  margin-top: 1.875em;
  margin-left: -5.3125em;
  height: 9.375em;
  width: 9.375em;
  border-radius: 0.3125em;
  box-shadow: 0px 0px 6px 2px #666;
  background-color:  rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  z-index: 1;
}

/* Style the hero section */
.hero {
  background: url('images/blog-image-hero.png');
  background-size: cover;
  background-position: bottom;
  color: whitesmoke;   
}



/* Styles for hero text section */
.hero-text{
  text-align: justify;
  padding: 5em 0.5em 1em;
}

/* Styles for main heading */
h1{
  font-size: clamp(2.6rem, 4.5vw, 5.7rem);
  margin-bottom: 0.1em;
  text-align: left;
  font-family: 'Amatic SC', sans-serif;
}

/* Styles for greeting section */
.greeting {
  padding: 0 0.2em 0.5em 0.2em; 
  font-size: clamp(1rem, 2.5vw, 2rem); 
}

/* Media query for larger screens */
@media (min-width: 42.1875em) {
  /* Styles for hero text section */
  .hero-text {
      padding: 15em 0 2em 1em;
  }

  /* Styles for main heading */
  h1 {
      margin-bottom: 0.3em;
  }

  /* Styles for greeting section */
  .greeting {
      width: 50%;
  }
}

/* Media query for smaller screens */
@media (max-width: 43.75em) {
  /* Hide the buttons */
  .btns {
      display: none;
  }

  /* Show the menu icon */
  .menu {
      display: flex;
  }
}

/* Styles for posts section */
.posts-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  grid-gap: 2em;
}

/* Styles for individual post */
.n1-post {
  position: relative; 
  margin-top: 1.875em;
  margin-left: 0.9375em;
  margin-right: 0.9375em;
  cursor: pointer;
  box-shadow: 0px 0px 0.3125em gray;
  padding-left: 0.625em;
  transition: opacity 0.15s;
  align-items: center;
  height: min-content;
}

/* Styles for individual post when hovered */
.n1-post:hover {
  opacity: 0.7;
}

/* Styles for blog info */
.bloginfo {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 125%;
  color: #505050;
}

/* Styles for blog heading */
.blogheading {
  color: #1da1f2;
}

/* Styles for second blog heading */
.blog2header {
  color: #8a71ec;
  
}

/* Styles for third blog heading */
.blog3heading {
  color: #a35300;
}

/* Styles for fifth blog heading */
.blog5heading {
  color: #67595e;
}

.num4{

padding-top: 7px;

}


/* Styles for link buttons */
.linkbtn {
  display: none; 
  margin-top: 15.9375em;
  margin-left: 8.125em;
  position: absolute;
  gap: 0.125em;
  transition: display 0.15s;
}

/* Styles for Github link button */
.github {
  background-color: black;
  color: white;
  border: none;
  padding: 0.625em;
  border-radius: 0.5rem;
}

/* Styles for Netlify link button */
.netlify {
  background-color: #00b5b2;
  color: #002b29;
  border: none;
  padding: 0.625em;
  border-radius: 0.5rem

}



/* view More  */

.viewmore{
  display: flex;
  justify-content: center;
  align-items:center ;
  padding: 4.375rem; /* 70px converted to rem */
  text-decoration: underline;
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#202020;
  color: white;
  padding: 1.25rem; /* 20px converted to rem */
}

.footinfo1{
  margin-bottom: 0;
  line-height: 1.082; /* 108.2% converted to em */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
}

.footinfo2{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  margin-top: 0.4375rem; /* 7px converted to rem */
  line-height: 1.25; /* 125% converted to em */
}

/* project page */

.projecttag{
  display: flex;
  justify-content: center;
  padding: 1.875rem; /* 30px converted to rem */
  color: black;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: bolder;
}

/* About me page */

.iamsection{
  display: grid;
  grid-template-rows: 1fr ;
  padding: 3.125rem; /* 50px converted to rem */
}

.hi{
  display: grid;
  grid-template-columns: 9.375rem 1fr; /* 150px converted to rem */
  padding-left: 3.125rem; /* 50px converted to rem */
  gap: 1.875rem; /* 30px converted to rem */
  align-self: end;
}

.profilpic{
  width: 9.375rem; /* 150px converted to rem */
  border-radius: 50%;
  margin-top: 1.25rem; /* 20px converted to rem */
}

.hi-greeting{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem; /* 36px converted to rem */
  line-height: 1.082; /* 108.2% converted to em */
  max-width: 43.75rem; /* 700px converted to rem */
}

.whatwillyousee{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem; /* 16px converted to rem */
  line-height: 1.25; /* 20px converted to em */
  color: #151515;
  max-width: 56.25rem; /* 900px converted to rem */
}

.background{
  display: grid;
  grid-template: 1fr;
  padding-top: 0;
  padding-left: 5.9375rem; /* 95px converted to rem */
}

.backgtoundheader{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem; /* 36px converted to rem */
}

.backgroundinfo{
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem; /* 16px converted to rem */
  line-height: 1.25rem;
  color: #151515;
  max-width: 62.5rem; /* equivalent to 1000px */
}

.planheading {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem; /* equivalent to 36px */
}

.myplans {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #151515;
  max-width: 56.25rem; /* equivalent to 900px */
}

@media (max-width: 43.75em) {
  .hi {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .profilpic {
    margin-bottom: 0;
  }

  .hi-greeting {
    margin-top: 0;
  }

  .background {
    padding-left: 3.125em; /* equivalent to 50px */
  }
}

/* recent projects */

.recentprojecttitle {
  display: flex;
  justify-content: center;
}

.recenttitle {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem; /* equivalent to 24px */
  line-height: 1.082;
  text-align: center;
  color: #141414;
}

.recentprojects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  grid-gap: 2rem;
  padding: 3.125rem; /* equivalent to 50px */
}

.viewmorebtnaboutme {
  justify-self: center;
  align-self: center;
  text-decoration: underline;
  font-size: 1.125rem; /* equivalent to 18px */
  font-weight: 700;
  color: purple;
}

.viewmorebtnaboutme:hover {
  transform: scale(1.2);
}

.contacteheading {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem; /* equivalent to 36px */
}

.contactemebtndiv {
  display: flex;
  flex-direction: row;
  gap: 1.25em;
}

.fa-facebook,
.fa-square-instagram,
.fa-envelope {
  font-size: 2.5em; /* equivalent to 40px */
  transition: transform 0.15s;
}

.hover-effect:hover {
  transform: scale(1.2);
}

.downloadcv {
  margin-top: 3.125rem; /* equivalent to 50px */
  padding: 1.25rem 2.5rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.3125rem; /* equivalent to 5px */
  font-size: 1rem;
}

.downloadcv:hover {
  background-color: #0062cc;
  cursor: pointer;
}